/*Aqui va mi css personalizado*/

body h1, h2, h3, h4, h5, h6, .w3wide {
    font-family: "Monstserrat", sans-serif;
    max-width: 1200px;
}

.w3-sidebar a {
    font-family: "Robot", sans-serif;
}